<body>
    <!-- update the header -->
    <h1>Edit <%= cocktail.name %></h1>
    <form action="/cocktails/<%=cocktail._id%>?_method=PUT" method="POST">

      <label for="name">Name:</label>
      <input type="text" name="name" value="<%= cocktail.name %>" />
  
      <label for="isReadyToDrink">Ready to Drink?</label>
      <input type="checkbox" name="isReadyToDrink" id="isReadyToDrink" />
      <!-- update the button text -->
      <button type="submit">Modify Your Cocktail</button>
    </form>
    <a href="/cocktails">Get Back To Drinking</a>
  </body>
  